<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4 id="page-title">Books List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let book of books; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveBook(book, i)"
        >
          {{ book.title }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllBooks()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <app-book-details
        [viewMode]="true"
        [currentBook]="currentBook"
      ></app-book-details>
    </div>
  </div>
  