<div *ngIf="viewMode; else editable">
    <div *ngIf="currentBook.id">
      <h4>Book</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentBook.title }}
      </div>
      <div>
        <label><strong>Author:</strong></label> {{ currentBook.author }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentBook.description }}
      </div>
      <br>
      <a
        class="badge bg-warning text-dark" id="edit-btn"
        routerLink="/books/{{ currentBook.id }}"
      >
        Edit
      </a>
    </div>
  
    <div *ngIf="!currentBook">
      <br />
      <p>Please click on a Book...</p>
    </div>
  </div>
  
  <ng-template #editable>
    <div *ngIf="currentBook.id" class="edit-form">
      <h4>Book</h4>
      <form class="d-grid gap-3">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentBook.title"
            name="title"
          />
        </div>
        <div class="form-group">
            <label for="description">Author</label>
            <input
              type="text"
              class="form-control"
              id="author"
              [(ngModel)]="currentBook.author"
              name="author"
            />
          </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentBook.description"
            name="description"
          ></textarea>
        </div>
      </form>

      <br>
      <button class="btn btn-danger mr-2" id="delete-btn" (click)="deleteBook()">
        Delete
      </button>
  
      <button
        type="submit"
        class="btn btn-success mr-2" id="update-btn"
        (click)="updateBook()"
      >
        Update
      </button>

      <div *ngIf="message">
        <br>
        <div class="alert alert-success" role="alert">
          <p id="update-success-msg">{{ message }}</p>
        </div>
      </div>
      
    </div>
  
    <div *ngIf="!currentBook.id">
      <br />
      <p>Cannot access this Book...</p>
    </div>
  </ng-template>
  