<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <h5><label for="title">Title</label></h5>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="book.title"
            name="title"
          />
        </div>

        <div class="form-group">
            <h5><label for="description">Author</label></h5>
            <input
              class="form-control"
              id="author"
              required
              [(ngModel)]="book.author"
              name="description"
            />
          </div>
  
        <div class="form-group">
          <h5><label for="description">Description</label></h5>
          <textarea
            class="form-control"
            id="description"
            required
            [(ngModel)]="book.description"
            name="description"
          ></textarea>
        </div>
  
        <br>

        <button (click)="createBook()" class="btn btn-success" id="submit">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <div class="alert alert-success" role="alert">
          <h4 id="success-msg">Book was submitted successfully!</h4>
        </div>
        <button class="btn btn-success" (click)="newBook()" id="add-btn">Add</button>
      </div>
    </div>
  </div>
  